{% extends 'base.html' %}
{% block title %}
  home
{% endblock %}
{% block content %}



<div class="about" id="about">
    <div class="section-header">
        <h2>About US</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui, ipsa sed expedita dignissimos illum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui, ipsa sed expedita dignissimos illum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui, ipsa sed expedita dignissimos illum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui, ipsa sed expedita dignissimos illum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui, ipsa sed expedita dignissimos illum!</p>
    </div>
    <div class="about-content">
        <div class="single-about ">
            <img src="https://img.freepik.com/free-photo/teamwork-making-online-blog_53876-94868.jpg" alt="">
            <div class="about-text">
                <h2>Best Blogging Platform</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ducimus aperiam, est ratione harum at. Earum rem facere quidem quo distinctio omnis esse. Voluptatibus, doloribus.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}