<nav class="navbar">
    <input type="checkbox" id="hamburger">
    <div>
      <div class="nav-title">
        <h2> Blog-Platform </h2>
      </div>
    </div>
    
    <div class="hamburgerMenu">
      <label for="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </label>
    </div>

    <div class="links">
      <a href="/" > Home </a>
      <a href="/aboutus" > About Us</a>
      <a href="/contactus" > Contact Us</a>
      <a href="/register" > Register </a>
      <a href="/login" > Login </a>
    </div>
  </nav>